body {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}
section {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball {
  background-color: orange;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: miau 1.5s infinite;
}
@keyframes miau {
  0% {
    transform: translate(0, 10px);
    width: 30px;
  }
  50% {
    transform: translate(0, 450px);
    width: 50px;
    height: 30px;
  }
  100% {
    transform: translate(0, 10px);
    width: 30px;
  }
}
section:nth-child(2) {
  width: 100%;
  height: 30vh;
  background-image: linear-gradient(white, black);
}
.shadow {
  width: 90px;
  box-shadow: 1px 10px 5px #423e3e;
  height: 10px;
  border-radius: 50%;
  animation: wao 1.5s infinite;
}

@keyframes wao {
  0% {
    width: 90px;
  }
  50% {
    width: 0px;
  }
  100% {
    width: 90px;
  }
}
.back {
  background-color: rgb(71, 77, 71);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 40px;
}